@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
    @apply text-indigo-100 hover:text-indigo-800 hover:bg-indigo-200 rounded-md px-3 py-2 text-sm font-medium;
}

.nav-item.active {
    @apply bg-indigo-100 text-indigo-800;
}