name: CI

on: [push, pull_request]

jobs:
  check-typescript:
    strategy:
      fail-fast: false
      matrix:
        node: [24, latest]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
      - run: pnpm install
      - run: pnpm tsc

  check-formatting:
    strategy:
      fail-fast: false
      matrix:
        node: [24, latest]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
      - run: pnpm install
      - run: pnpx prettier --check .

  tests:
    strategy:
      fail-fast: false
      matrix:
        node: [24, latest]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
      - run: pnpm install
      - run: pnpm test
